.leftMenu {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 1px solid black;
    /* fit into the grid row and scroll internally if content grows */
    height: 100%;
    min-height: 0;
    overflow-y: auto;
}